@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: disc;
}

li {
padding-bottom: 10px;
}

li a {
    color: black;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    text-decoration: underline;
}
